#home {
    text-align: center;
    font-size: 25px;
    margin-top: 150px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

#myAudio{
    display: flex;
    margin: 30px auto;
}

#links {
    display: flex; /* Use flexbox para centralizar vertical e horizontalmente */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    margin: 0 auto;
    height: 80px;

}

.notificacao {
    width: 80px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 10px;
    cursor: pointer;
}

.notificacao-wrapper {
    display: inline-block; /* Para manter a notificação e o menu na mesma linha */
    margin-right: 10px; /* Espaçamento à direita */
}

.notificacao-menu {
    display: none;
    position: absolute;
    left: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

    .notificacao-menu hr {
        margin-bottom: 0;
    }

.notificacao-menu button{
    width: 150px;
    height: 40px;
    border: none;
    background-color: white;
    font-size: 14px;
}

.notificacao-menu button{
    width: 200px;
    margin-top: 5px;
    border: none;
}

.notificacao-menu a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
}

.notificacao-cheia {
    width: 60px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 10px;
    cursor: pointer;
}

.notificacao-cheia-wrapper {
    display: inline-block; /* Para manter a notificação e o menu na mesma linha */
    margin-right: 10px; /* Espaçamento à direita */
}

.notificacao-cheia-menu {
    display: none;
    position: absolute;
    left: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.notificacao-cheia-menu a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
}
#header {
    display: flex; /* Usando flexbox para alinhar na mesma linha */
    justify-content: space-between; /* Alinhar os elementos à esquerda e à direita */
    align-items: center; /* Centralizar verticalmente */
    background-color: rgba(199, 199, 199, 0.5);
    padding: 10px 20px; /* Adicione um preenchimento para melhor espaçamento */
}

#links a {
    display: inline-block; /* Torna os links blocos de nível inline */
    padding: 10px 20px; /* Adiciona preenchimento interno para criar uma aparência de botão */
    background-color: white; /* Cor de fundo do botão */
    color: black; /* Cor do texto do botão */
    text-decoration: none; /* Remove sublinhado padrão dos links */
    border: none; /* Remove a borda padrão */
    border-radius: 5px; /* Arredonda as bordas do botão */
    font-weight: bold;
    font-size: 16px;
    margin: 10px; /* Espaçamento entre os botões */
    cursor: pointer; /* Mostra um cursor de apontador ao passar o mouse sobre os botões */
    transition: background-color 0.3s ease; /* Adiciona uma transição suave de cor de fundo */
}

#links button {
    display: inline-block; /* Torna os links blocos de nível inline */
    padding: 10px 20px; /* Adiciona preenchimento interno para criar uma aparência de botão */
    background-color: white; /* Cor de fundo do botão */
    color: black; /* Cor do texto do botão */
    text-decoration: none; /* Remove sublinhado padrão dos links */
    border: none; /* Remove a borda padrão */
    border-radius: 5px; /* Arredonda as bordas do botão */
    font-weight: bold;
    font-size: 16px;
    margin: 10px; /* Espaçamento entre os botões */
    cursor: pointer; /* Mostra um cursor de apontador ao passar o mouse sobre os botões */
    transition: background-color 0.3s ease; /* Adiciona uma transição suave de cor de fundo */
}

#links a:hover {
    background-color: black;
    color: white;
}

#links button:hover {
    background-color: black;
    color: white;
}

#top {
    background-image: url('../soccer.png');
    height: 200px;
    width: 700px;
    margin: 150px auto 50px; 
    text-align: center;
}

.back{
    height: 538px;
    width: 960px;
    margin: 150px auto;
    border-radius: 20px;
    text-align: center;
    background-image: url('../teste.jpg');

}

.back p{
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    font-weight: bold;
    display: block;
}

.foto-circular {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    align-self: flex-start; /* Alinha a foto no topo do contêiner */
}
.back #listagemJogadores{
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: black;
    display: block;
    display: inline-block;
    padding: 10px 20px; /* Ajuste o espaçamento interno conforme necessário */
    background-color: #777777; /* Cor de fundo */
    color: #ffffff; /* Cor do texto */
    text-decoration: none; /* Remove sublinhado padrão de links */
    border: 2px solid #bdbdbd; /* Borda personalizada */
    border-radius: 5px; /* Cantos arredondados */
    cursor: pointer; /* Altera o cursor ao passar o mouse */
}

.back #listagemJogadores:hover {
    background-color: #000000; /* Altera a cor de fundo quando o mouse passa por cima */
}

body {
    background-image: url('../back2.jpg');
    background-attachment: fixed;
    background-size: cover; 
    background-repeat: no-repeat; 
}

.container {
    white-space: nowrap;
    overflow-x: auto;
}

.detalhes {
    display: inline-block;
    text-align: center;
    width: 350px;
    height: 350px;
    margin: 0 10px; /* Espaço horizontal entre as divs */
    background-color: rgb(255, 255, 255, 0.7);
    border-radius: 50%;
}

.detalhes p {
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif;
}

.detalhes img {
    margin-top: 20px;
    width: 110px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    align-self: flex-start; /* Alinha a foto no topo do contêiner */
}

#cadastro {
    width: 800px; /* Define a largura da caixa de cadastro */
    background-color: rgba(9, 18, 56, 0.95); /* Define a cor de fundo cinza */
    height: 950px;
    margin: 50px auto; /* Centraliza horizontalmente */
    display: flex;
    flex-direction: column; /* Empilha os elementos verticalmente */
    justify-content: center; /* Centraliza verticalmente */
    border-radius: 50px;
    color: white;
    padding-top: 20px; /* Adiciona espaço na parte superior */
}

#cadastro input {
    display: block; /* Faz os inputs se comportarem como blocos de nível */
    margin: 10px auto; /* Adiciona margem em cima e embaixo dos inputs */
    margin-bottom: 35px; /* Adiciona margem inferior para espaçamento entre os inputs */
    border: none;
    text-decoration: none;
    text-align: center;
    height: 50px;
    width: 350px;
    border-radius: 40px;
    border: none;
}
#cadastro input:focus {
    outline: none;
    transition: 500ms;
}

#cadastro #descricao:focus {
    outline: none;
    transition: 500ms;
}

#cadastro #descricao{
    border-radius: 20px;
    border: none;
    text-decoration: none;

    width: 350px;
    margin: 10px auto;
    text-align: center;
}

#cadastro select{
    border-radius: 10px;
    width: 350px;
    height: 40px;
    margin: 10px auto;
    text-align: center;
}

#titulo{

    display: flex;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: bold;
}

#cadastro button{
    width: 150px;
    border-radius: 20px;
    margin: 20px auto;
}